/** Tailwind CSSのリセットCSSのみ利用 **/
@tailwind base;

$transition-default: all 0.3s ease-in-out;

@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

$focus-color: #683A1E;

@mixin focusDefault() {
  overflow-wrap: break-word;

  &:focus {
    outline: 1px solid $focus-color;
  }
}

@mixin transitionDefault() {
  transition: all 0.3s ease-in-out;

  @media (min-width: 768px) {
    &:hover {
      opacity: 0.5;
    }
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #DDD0CA;
}

.header-inner,
.todo-form,
.todo-box,
.todo-form-error,
.todo-complete-wrapper {
  margin-right: 12px;
  margin-left: 12px;
  z-index: 9999;
  position: relative;

  @media (min-width: 1400px) {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header,
.footer {
  background-image: url('../assets/images/header-bg_sp.svg');

  @media (min-width: 768px) {
    background-image: url('../assets/images/header-bg_pc.svg');
  }

  background-size: 100%;
  background-repeat: no-repeat;
}

.header {
  background-position: top 3px center;
}

.footer {
  transform: scaleY(-1);

  &-inner {
    transform: scaleY(-1);
    text-align: center;
    background: #795548;
    color: #fff;
    font-size: 14px;
    padding: .5em;
  }

  height: 10vh;

  @media (min-width: 768px) {
    height: 15vh;
  }
}


/** ヘッダー **/

.header-title {
  font-family: "Noto Serif JP", serif;
  text-align: center;
  padding-top: rem(55);
  font-size: rem(48);
  color: #fff;
  letter-spacing: 0.1em;

  @media (min-width: 768px) {
    padding-top: rem(80);
    font-size: rem(82);
  }

  @media (max-width: 374px) {
    font-size: rem(32);
  }
}

.header-text {
  text-align: center;
  font-size: rem(14);
  color: #4B3A30;
  padding-top: rem(24);
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: rem(18);
    padding-top: rem(20);
    letter-spacing: 0.2em;
    line-height: 2;
  }

  @media (max-width: 374px) {
    font-size: rem(13);
    padding-top: rem(20);
    letter-spacing: 0em;
  }
}

/** 絞り込みフォーム **/

.todo-form {
  margin-top: rem(28);
  display: flex;
  flex-flow: column;
  gap: rem(20);

  @media (min-width: 768px) {
    margin-top: rem(48);
    flex-flow: unset;
    justify-content: space-between;
    gap: 2%;
    align-items: start;
  }
}

.todo-category {
  width: 100%;

  @media (min-width: 768px) {
    max-width: 400px;
    width: 30%;
  }
}

.todo-form-select {
  height: 58px;
  width: 100%;
  font-size: rem(18);
  border-radius: rem(5);
  padding: .2em 1em;
  border: 1px solid #B0B9C2;
  cursor: pointer;
  color: #4b3a30;
  letter-spacing: 0.1em;
  @include focusDefault();

  @media (min-width: 768px) {
    letter-spacing: 0.2em;
  }
}

.category-button {
  margin-top: rem(12);
  font-size: rem(14);
  text-decoration: underline;
  letter-spacing: 0.2em;
  font-weight: 600;
  @include transitionDefault();
  @include focusDefault();

  @media (min-width: 768px) {
    margin-top: rem(16);
    font-size: rem(16);
  }

}



.todo-form-input {
  height: 58px;
  font-size: rem(18);
  border-radius: rem(5);
  padding: .2em 1em;
  border: 1px solid #B0B9C2;
  letter-spacing: 0.1em;
  max-width: 745px;
  color: #4b3a30;
  @include focusDefault();

  @media (min-width: 768px) {
    width: 58%;
    letter-spacing: 0.2em;
  }
}

.todo-form-submit {
  font-size: rem(16);
  min-width: 130px;
  background-color: #E38B61;
  border-radius: rem(5);
  padding: rem(15) 0;
  text-align: center;
  color: #fff;
  border: 1px solid #E6A586;
  letter-spacing: 0.1em;

  @media (min-width: 768px) {
    font-size: rem(18);
    letter-spacing: 0.2em;
  }

  @include focusDefault();
  @include transitionDefault();
}

.todo-form-error {
  margin-top: rem(24);
  color: #CB3535;
}

/** 完了済みトグル **/

.todo-complete-wrapper {
  margin-top: 40px;
  margin-bottom: -10px;
  text-align: right;
  font-size: 14px;

  @media (min-width: 768px) {
    margin-top: 24px;
    font-size: 14px;
    margin-bottom: -20px;
  }
}

.todo-complete {
  @include transitionDefault();
}


.todo-complete svg {
  display: inline-block;
  margin-top: -5px;
  margin-right: 0.5em;
}


/** リスト **/

.todo-box {
  margin-top: rem(38);

  @media (min-width: 768px) {
    margin-top: rem(40);
  }
}

.todo-box-category {
  text-align: center;
  background-color: #F9E0D4;
  color: #4B3A30;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: rem(18);
  padding: rem(12);
  letter-spacing: 0.1em;

  @media (min-width: 768px) {
    font-size: rem(18);
    padding: rem(16);
    letter-spacing: 0.2em;
  }
}

.todo-box-category input {
  border-radius: rem(5);
  padding: .2em .5em;
  border: 1px solid #B0B9C2;
  letter-spacing: 0.1em;
  color: #4b3a30;
  width: 100%;
  text-align: center;
  @include focusDefault();
}

.todo-box-category-edit-area {
  font-size: rem(12);
  margin-top: rem(8);

  @media (min-width: 768px) {
    font-size: rem(14);
    margin-top: rem(12);
  }
}

.todo-box-category-edit,
.todo-box-category-delete {
  @include transitionDefault();
}

.todo-box-list {
  padding: 0;
}

.todo-box-list-item {
  position: relative;
  padding: 0 12px;
  background-color: #FFFCF5;

  /*** 編集・削除ボタンの表示制御 **/
  &:hover .todo-box-list-item-edit-area {
    opacity: 1;
    transition: all .3s ease-in-out;
  }

  &:first-child {
    padding-top: 5px;
  }

  &+& {
    border-top: 1px solid #E1DCD5;
  }

  @media (min-width: 768px) {
    padding: 0 20px;
  }
}

.todo-box-list-item>label,
.todo-box-list-item>span {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 22px 0;
  position: relative;
  color: #4B3A30;
  letter-spacing: 0.1em;

  @media (min-width: 768px) {
    padding: 20px 0;
  }
}

.todo-box-checkbox {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #DDD0CA;
  cursor: pointer;
  margin-top: 1px;

  @media (min-width: 768px) {
    height: 16px;
    width: 16px;
  }
}

.todo-box-checkbox+svg {
  display: none;
  position: absolute;
  top: 25px;
  left: 3px;

  @media (min-width: 768px) {
    width: 16px;
    height: 16px;
    top: 21px;
    left: 0px;
  }
}

.todo-box-list-item svg:not(.todo-box-checkbox + svg) {
  display: none;
}

.todo-box-checkbox:checked+svg {
  display: block;
}

.todo-box-checkbox:checked~.todo-box-list-item-label {
  opacity: 50%;
  text-decoration: line-through;
}

.todo-box-list-item-label {
  max-width: 1120px;
  position: relative;
  top: -0.2em;
  margin-left: 10px;
  font-size: rem(16);
  width: calc(100% - 14px - 10px);

  @media (min-width: 768px) {
    margin-left: 16px;
    font-size: rem(16);
    width: calc(100% - 24px - 30px - 62px - 62px);
  }
}

.todo-box-list-item-label input {
  border-radius: rem(5);
  padding: .2em .5em;
  border: 1px solid #B0B9C2;
  letter-spacing: 0.1em;
  color: #4b3a30;
  width: 100%;
  @include focusDefault();
}

/** 編集・削除ボタン **/
.todo-box-list-item-edit-area {
  padding-bottom: 22px;
  display: flex;

  @media (min-width: 768px) {
    padding-bottom: 0;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
  }
}

.todo-box-list-item-edit,
.todo-box-list-item-delete {
  font-size: rem(14);
  min-width: 62px;
  background-color: #E38B61;
  border-radius: rem(5);
  padding: rem(8) 0;
  text-align: center;
  color: #fff;
  letter-spacing: 0.1em;
  width: 48%;
  letter-spacing: 0.2em;

  @media (min-width: 768px) {
    width: auto;
  }

  @include focusDefault();
  @include transitionDefault();
}

.todo-box-list-item-edit {
  background-color: #F9E0D4;
  color: #4B3030;
}

.todo-box-list-item-delete {
  margin-left: rem(14);
  background-color: #9D1717;
  color: #fff;
}

.todo-box-list-item-delete.hidden {
  opacity: 0;
}

/**登録時の点滅**/
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

/** react-transition-groupでのフェードイン・フェードアウトアニメーション **/
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}